<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

<!-- Footer -->
<footer class="text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: Automatiko
  </div>
  <div class="text-center p-3">
    Photo by <a href="https://unsplash.com/@hcmorr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hanna Morris</a> on <a href="https://unsplash.com/s/photos/diagram?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>
</footer>
</html>
